/* Code tidied up by ScrapBook */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-user-select: none; touch-action: pan-y; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0px; padding: 0px; }
.slick-list:focus { outline: medium none; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0px, 0px, 0px); }
.slick-track { position: relative; top: 0px; left: 0px; display: block; margin-left: auto; margin-right: auto; }
.slick-track::before, .slick-track::after { display: table; content: ""; }
.slick-track::after { clear: both; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-initialized .slick-slide { display: block; }
